{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_rewards/badge_form_page

    Example context (json):
    {
      "title": "Create New Badge",
      "backurl": "https://example.com/local/rewards/bank.php",
      "formhtml": "<form action=\"https://example.com/local/rewards/save.php\" method=\"post\"><div class=\"mb-3\"><label for=\"id_name\" class=\"form-label\">Badge Name</label><input type=\"text\" id=\"id_name\" name=\"name\" class=\"form-control\" value=\"\"></div><div class=\"mb-3\"><label for=\"id_description\" class=\"form-label\">Description</label><textarea id=\"id_description\" name=\"description\" class=\"form-control\" rows=\"4\"></textarea></div><div class=\"mb-3\"><label for=\"id_image\" class=\"form-label\">Badge Image</label><input type=\"file\" id=\"id_image\" name=\"image\" class=\"form-control\"></div><button type=\"submit\" class=\"btn btn-primary\">Save Badge</button></form>",
      "previewurl": "https://example.com/pluginfile.php/123/local_rewards/badge-preview.png",
      "defaultpreviewurl": "https://example.com/local/rewards/pix/default-badge.png"
    }
}}
<div class="local-rewards-formwrap">
    <div class="local-rewards-toolbar">
        <div>
            <h1 class="h2 mb-1">{{title}}</h1>
            <div class="text-muted">{{#str}}rewardbanksubtitle, local_rewards{{/str}}</div>
        </div>
        <a class="btn btn-light" href="{{backurl}}">{{#str}}rewardbacktobank, local_rewards{{/str}}</a>
    </div>

    <div class="row g-4">
        <div class="col-lg-8">
            <div class="card border-0 shadow-sm rounded-4">
                <div class="card-body p-4">
                    {{{formhtml}}}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="local-rewards-preview">
                {{#previewurl}}
                    <img src="{{previewurl}}" alt="">
                {{/previewurl}}
                {{^previewurl}}
                    <img src="{{defaultpreviewurl}}" alt="">
                {{/previewurl}}
            </div>
        </div>
    </div>
</div>
